@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600;700&display=swap");
/* TYPOGRAPHY */
/*  */
/* SCSS RGB */
/* NEW DARK THEME */
/* GRADIENT */
/* SCSS RGB */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif; }

body {
  background-color: #0D0D0D; }

#planet {
  animation: rotatePlanet 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box; }

#arrow1 {
  animation: backToDown 3s infinite linear; }

#arrow2 {
  animation: backToDown2 3s infinite linear; }

.contact.slide-in-left {
  animation: fade-in 1s ease-in-out both; }

/*
  
.projects.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}
*/
.about.slide-in-left {
  animation: slide-in-left 1s ease-in-out both; }

.projects.slide-right {
  animation: slide-in-right 1s ease-in-out both; }

@keyframes rotatePlanet {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

@keyframes backToDown {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(-10px); } }

@keyframes backToDown2 {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-10px); } }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes backgroundSize {
  0% {
    background-position: 0%; }
  100% {
    background-position: 400%; } }

.js-scroll {
  opacity: 0;
  transition: opacity 500ms; }

.js-scroll.scrolled {
  opacity: 1; }

.highlight {
  background-image: linear-gradient(to right, #F05CF2, #9407F2, #262DA6);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  transition: background-size .5s, background-position .5s ease-in .5s; }

.highlight:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-position .5s, background-size .5s ease-in .5s; }

.blue-cadet {
  color: #e8e7e7; }

.checkbox {
  opacity: 0;
  position: absolute; }

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5); }

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear; }

.checkbox:checked + .label .ball {
  transform: translateX(24px); }

.fa-moon {
  color: #f1c40f; }

.fa-sun {
  color: #f39c12; }

.next__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 20vh; }

.btn {
  width: 40%;
  border-radius: 4px;
  border-style: none;
  outline: none;
  padding: 2px;
  transition: all .5s; }
  .btn .btn__link {
    text-decoration: none;
    color: #e8e7e7; }

.btn__pasticho {
  background-color: #5327F2;
  transition: all .6s; }
  .btn__pasticho .btn__link {
    color: #e8e7e7; }

.btn__jasmine {
  background-color: transparent;
  border: 1px solid #5327F2;
  transition: all .6s; }
  .btn__jasmine .btn__link {
    color: #e8e7e7; }

.btn__presentation {
  background: linear-gradient(to right, #F05CF2, #9407F2, #262DA6, #9407F2, #F05CF2);
  height: 36px;
  font-weight: 600;
  background-size: 400%; }
  .btn__presentation .btn__link {
    color: #e8e7e7; }
  @media (max-width: 1920px) {
    .btn__presentation {
      font-size: 18px;
      height: 40px; } }
  @media (max-width: 1440px) {
    .btn__presentation {
      font-size: 18px;
      height: 40px; } }
  @media (max-width: 1024px) {
    .btn__presentation {
      font-size: 16px;
      height: 40px; } }
  @media (max-width: 900px) {
    .btn__presentation {
      font-size: 14px;
      height: 38px; } }
  @media (max-width: 740px) {
    .btn__presentation {
      font-size: 13px;
      height: 36px; } }
  @media (max-width: 650px) {
    .btn__presentation {
      width: 100%;
      font-size: 14px; } }
  @media (max-width: 570px) {
    .btn__presentation {
      width: 70%; } }

.btn-sumbit {
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #e8e7e7;
  background-color: #0D0D0D;
  width: 100%; }
  @media (max-width: 650px) {
    .btn-sumbit {
      width: 100%; } }

.btn:hover {
  transform: translateY(-3px); }

.btn__jasmine:hover {
  background-color: #5327F2; }

.btn__pasticho:hover {
  background-color: transparent;
  border: 1px solid #5327F2; }

.btn__presentation:hover {
  background-color: #262DA6;
  animation: backgroundSize 8s linear infinite; }

.hamburger {
  display: none; }
  @media (max-width: 650px) {
    .hamburger {
      display: block;
      z-index: 3;
      cursor: pointer;
      margin-right: 50px; } }

.hamburger__1 {
  width: 26px;
  border-radius: 4px;
  height: 3px;
  background-color: white;
  transition: all .6s ease-in-out; }

.hamburger__2 {
  width: 26px;
  border-radius: 4px;
  height: 3px;
  background-color: white;
  transition: all .6s ease-in-out; }

.hamburger__3 {
  width: 26px;
  border-radius: 4px;
  height: 3px;
  background-color: white;
  transition: all .6s ease-in-out; }

.hamburger__1 {
  transform: translateY(-6px) translateX(-5px); }

.hamburger__3 {
  transform: translateY(6px) translateX(-3px); }

.active .hamburger__1 {
  transform: rotate(45deg) translate(2px, 2px); }

.active .hamburger__3 {
  transform: rotate(-45deg) translate(2px, -2px); }

.active .hamburger__2 {
  transform: translateX(-20px);
  opacity: 0; }

.menu {
  display: grid;
  grid-template-columns: .2fr .6fr .2fr;
  column-gap: 50px;
  align-items: center;
  height: 70px; }
  @media (max-width: 650px) {
    .menu {
      display: flex;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1; } }

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 650px) {
    .menu__list {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
      width: 100%;
      top: .25px;
      clip-path: circle(100px at 90% -20%);
      -webkit-clip-path: circle(100px at 90% -20%);
      transition: all 1s ease-out;
      pointer-events: none;
      background-color: #262DA6; } }
  .menu__list.open {
    clip-path: circle(1400px at 90% -20%);
    -webkit-clip-path: circle(1400px at 90% -20%);
    pointer-events: all;
    z-index: 2; }

.menu__item {
  list-style: none; }
  @media (max-width: 650px) {
    .menu__item {
      opacity: 0; } }

.menu__item:nth-child(1) {
  transition: all 0.5s ease 0.2s; }

.menu__item:nth-child(2) {
  transition: all 0.5s ease 0.4s; }

.menu__item:nth-child(3) {
  transition: all 0.5s ease 0.6s; }

.menu__item:nth-child(4) {
  transition: all 0.5s ease 0.8s; }

.menu__item:nth-child(5) {
  transition: all 0.5s ease 1s; }

.fade {
  opacity: 1; }

.menu__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #e8e7e7; }
  @media (max-width: 650px) {
    .menu__link {
      color: #0D0D0D; } }

.menu__switch-theme {
  place-self: center; }
  @media (max-width: 650px) {
    .menu__switch-theme {
      display: none; } }

.menu__rocket {
  text-align: center;
  margin-top: 10px; }
  @media (max-width: 650px) {
    .menu__rocket {
      margin-left: 50px; } }

.presentation__title {
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 50px;
  transition: all 2s; }
  @media (max-width: 1920px) {
    .presentation__title {
      justify-content: space-around; } }
  @media (max-width: 1440px) {
    .presentation__title {
      justify-content: space-around; } }
  @media (max-width: 1024px) {
    .presentation__title {
      justify-content: space-between; } }
  @media (max-width: 650px) {
    .presentation__title {
      flex-direction: column;
      margin-top: 90px; } }

.presentation__intro {
  width: 60%; }
  @media (max-width: 1440px) {
    .presentation__intro {
      padding-left: 80px; } }
  @media (max-width: 1024px) {
    .presentation__intro {
      padding-left: 70px; } }
  @media (max-width: 900px) {
    .presentation__intro {
      padding-left: 50px; } }
  @media (max-width: 740px) {
    .presentation__intro {
      padding-left: 35px; } }
  @media (max-width: 650px) {
    .presentation__intro {
      padding: 0; } }
  @media (max-width: 570px) {
    .presentation__intro {
      width: 100%; } }

.presentation__desc {
  font-weight: 700;
  color: #e8e7e7; }
  @media (max-width: 1920px) {
    .presentation__desc {
      font-size: 52px;
      line-height: 62px; } }
  @media (max-width: 1440px) {
    .presentation__desc {
      font-size: 52px;
      line-height: 62px; } }
  @media (max-width: 1024px) {
    .presentation__desc {
      font-size: 40px;
      line-height: 56px; } }
  @media (max-width: 900px) {
    .presentation__desc {
      font-size: 36px;
      line-height: 48px; } }
  @media (max-width: 740px) {
    .presentation__desc {
      font-size: 30px;
      line-height: 40px; } }
  @media (max-width: 650px) {
    .presentation__desc {
      text-align: center; } }
  @media (max-width: 375px) {
    .presentation__desc {
      font-size: 20px;
      line-height: 30px; } }

.presentation__parraf {
  line-height: 24px;
  margin-top: 36px;
  color: #e8e7e7; }
  @media (max-width: 1920px) {
    .presentation__parraf {
      font-size: 18px;
      width: 70%; } }
  @media (max-width: 1440px) {
    .presentation__parraf {
      font-size: 18px;
      width: 70%; } }
  @media (max-width: 1024px) {
    .presentation__parraf {
      font-size: 16px;
      line-height: 22px;
      width: 75%; } }
  @media (max-width: 900px) {
    .presentation__parraf {
      font-size: 16px;
      line-height: 20px; } }
  @media (max-width: 740px) {
    .presentation__parraf {
      font-size: 16px;
      line-height: 18px;
      width: 80%; } }
  @media (max-width: 650px) {
    .presentation__parraf {
      font-size: 16px;
      text-align: center;
      width: 100%;
      line-height: 22px; } }
  @media (max-width: 570px) {
    .presentation__parraf {
      padding: 0 74px; } }
  @media (max-width: 375px) {
    .presentation__parraf {
      padding: 0 24px; } }

.presentation__img {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s; }
  @media (max-width: 1920px) {
    .presentation__img {
      width: 420px;
      height: 420px; } }
  @media (max-width: 1440px) {
    .presentation__img {
      width: 350px;
      height: 350px; } }
  @media (max-width: 1024px) {
    .presentation__img {
      width: 300px;
      height: 300px; } }
  @media (max-width: 900px) {
    .presentation__img {
      width: 250px;
      height: 250px; } }
  @media (max-width: 740px) {
    .presentation__img {
      width: 200px;
      height: 200px; } }
  @media (max-width: 375px) {
    .presentation__img {
      width: 180px;
      height: 180px; } }

.presentation__actions {
  margin-top: 20px; }
  @media (max-width: 570px) {
    .presentation__actions {
      width: 100%;
      display: flex;
      justify-content: center; } }

.about__title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: #e8e7e7;
  transition: all 2s; }
  @media (max-width: 1440px) {
    .about__title {
      justify-content: space-around; } }
  @media (max-width: 1024px) {
    .about__title {
      justify-content: space-between; } }
  @media (max-width: 650px) {
    .about__title {
      flex-direction: column; } }

.about__container {
  border-radius: 4px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  width: 70%;
  -webkit-box-shadow: 0px 6px 20px -1px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 6px 20px -1px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 6px 20px -1px rgba(0, 0, 0, 0.57);
  transition: 2s all;
  /*
    .card__ability {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bold;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
      }

    .card__face--back {
        transform: rotateY(180deg);
    } 


    .is-flipped {
        transform: rotateY(180deg);
    }
    */ }
  @media (max-width: 740px) {
    .about__container {
      font-size: 12px;
      grid-template-columns: 1fr; } }
  .about__container .about__thumbnail {
    width: 100%; }
  .about__container .about__img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .about__container .about__desc {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    line-height: 25px; }
    @media (max-width: 740px) {
      .about__container .about__desc {
        font-size: 12px;
        line-height: 20px; } }
  .about__container .ability-desc {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    width: 100%;
    margin: 6px;
    border-radius: 4px;
    transition: all 1.6s;
    position: relative;
    transform-style: preserve-3d;
    background-color: #262DA6; }

.projects__title {
  font-size: 32px;
  margin-top: 14px;
  text-align: center;
  margin-bottom: 26px;
  color: #e8e7e7; }

.projects-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
  width: 100%; }
  @media (max-width: 1024px) {
    .projects-container {
      grid-template-columns: repeat(2, minmax(240px, 1fr)); } }
  @media (max-width: 570px) {
    .projects-container {
      grid-template-columns: 1fr; } }

.project__card {
  display: grid;
  grid-template-rows: 120px .6fr; }

.project__thumbnail {
  height: 100%;
  width: 100%;
  transition: all .2s; }

.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.project__body {
  color: #e8e7e7; }
  .project__body .project__title {
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 10px; }
  .project__body .project__desc {
    line-height: 20px;
    font-size: 16px;
    margin-top: 10px; }
    @media (max-width: 650px) {
      .project__body .project__desc {
        font-size: 14px; } }
  .project__body .project__actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }

.project__thumbnail:hover {
  transform: rotate(-2deg) translateY(-5px) scale(1.025); }

.contact-form {
  padding: 35px;
  display: grid;
  grid-template-areas: "desc form";
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  gap: 24px; }
  @media (max-width: 650px) {
    .contact-form {
      grid-template-areas: "desc" "form";
      grid-template-columns: 1fr; } }

.contact__desc {
  place-self: center;
  font-size: 28px;
  grid-area: desc; }
  .contact__desc .contact__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 16px; }
    @media (max-width: 740px) {
      .contact__desc .contact__title {
        font-size: 28px;
        line-height: 34px; } }
    @media (max-width: 650px) {
      .contact__desc .contact__title {
        text-align: center; } }
    @media (max-width: 375px) {
      .contact__desc .contact__title {
        font-size: 20px; } }
  .contact__desc .contact__parraf {
    font-size: 18px;
    width: 70%;
    line-height: 25px; }
    @media (max-width: 740px) {
      .contact__desc .contact__parraf {
        width: 80%;
        font-size: 16px;
        line-height: 22px; } }
    @media (max-width: 650px) {
      .contact__desc .contact__parraf {
        text-align: center;
        width: 100%;
        padding: 10px 20px; } }
    @media (max-width: 375px) {
      .contact__desc .contact__parraf {
        font-size: 14px; } }

.contact__form {
  display: flex;
  flex-direction: column;
  grid-area: form; }

.contact__element {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin-top: 10px; }

.contact__element-label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600; }

.contact__element-input {
  border-style: none;
  outline: none;
  transition: all 1s;
  text-align: justify;
  padding-left: 25px;
  border-radius: 4px;
  height: 40px; }
  .contact__element-input::placeholder {
    font-weight: 400; }

.element-textarea {
  height: 110px;
  padding-left: 20px;
  padding-top: 10px; }

.contact__element-input:focus {
  border-color: #753232; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e8e7e7;
  background-color: #0D0D0D; }
  .footer .menu__footer {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .footer .menu__footer .menu__item-footer {
      list-style: none;
      padding-left: 10px;
      padding-right: 10px; }
    .footer .menu__footer .menu__link-footer {
      text-decoration: none;
      font-size: 12px;
      font-weight: 600;
      color: #e8e7e7; }
  .footer .social-media {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer .divider {
    width: 90%;
    border: 0.25px solid #e8e7e7; }
  .footer .by-author {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .footer .heart {
    color: red; }

.container {
  height: 100vh;
  /*
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    */
  display: flex;
  flex-direction: column; }

.main-content {
  flex: 1 0 auto; }

.section {
  scroll-snap-align: start; }

.presentation {
  background-color: #0D0D0D; }

.about {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px; }

.projects {
  background-color: #0D0D0D;
  padding: 40px;
  display: grid;
  justify-content: center; }

.contact {
  background-color: #262DA6;
  color: #e8e7e7;
  font-size: 40px;
  font-weight: 600;
  flex-shrink: 0; }
