@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600;700&display=swap");
/* TYPOGRAPHY */
/*  */
/*
    1045px
    740
    620
*/
/* SCSS RGB */
/* NEW DARK THEME */
/* GRADIENT */
/* SCSS RGB */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif; }

body {
  background-color: #1e152a;
  color: #5ab1bb; }

#planet {
  animation: rotatePlanet 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box; }

#arrow1 {
  animation: backToDown 3s infinite linear; }

#arrow2 {
  animation: backToDown2 3s infinite linear; }

.contact.slide-in-left {
  animation: fade-in 1s ease-in-out both; }

/*
  
.projects.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}
*/
.about.slide-in-left {
  animation: slide-in-left 1s ease-in-out both; }

.projects.slide-right {
  animation: slide-in-right 1s ease-in-out both; }

@keyframes rotatePlanet {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

@keyframes backToDown {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(-10px); } }

@keyframes backToDown2 {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-10px); } }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.js-scroll {
  opacity: 0;
  transition: opacity 500ms; }

.js-scroll.scrolled {
  opacity: 1; }

.highlight {
  background-image: linear-gradient(#f7dd72, #f7dd72);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  transition: background-size .5s, background-position .5s ease-in .5s; }

.highlight:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-position .5s, background-size .5s ease-in .5s; }

.blue-cadet {
  color: #1e152a; }

.checkbox {
  opacity: 0;
  position: absolute; }

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5); }

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear; }

.checkbox:checked + .label .ball {
  transform: translateX(24px); }

.fa-moon {
  color: #f1c40f; }

.fa-sun {
  color: #f39c12; }

.next__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 20vh; }

.btn {
  width: 40%;
  border-radius: 4px;
  border-style: none;
  outline: none;
  padding: 2px;
  transition: all .5s; }
  .btn .btn__link {
    text-decoration: none; }

.btn__pasticho {
  background-color: #a5c882;
  transition: all .6s; }
  .btn__pasticho .btn__link {
    color: #1e152a; }

.btn__jasmine {
  background-color: transparent;
  border: 1px solid #a5c882;
  transition: all .6s; }
  .btn__jasmine .btn__link {
    color: #a5c882; }

.btn__presentation {
  background-color: transparent;
  border: 1px solid #5ab1bb;
  height: 36px; }
  .btn__presentation .btn__link {
    color: #5ab1bb; }
  @media (max-width: 1440px) {
    .btn__presentation {
      font-size: 18px;
      height: 40px; } }
  @media (max-width: 1024px) {
    .btn__presentation {
      font-size: 16px;
      height: 40px; } }
  @media (max-width: 900px) {
    .btn__presentation {
      font-size: 14px;
      height: 38px; } }
  @media (max-width: 740px) {
    .btn__presentation {
      font-size: 13px;
      height: 36px; } }
  @media (max-width: 650px) {
    .btn__presentation {
      width: 100%;
      font-size: 14px; } }

.btn:hover {
  transform: translateY(-3px); }

.btn__jasmine:hover {
  background-color: #7ca752; }
  .btn__jasmine:hover .btn__link {
    color: #0d0913; }

.btn__pasticho:hover {
  background-color: #7ca752; }
  .btn__pasticho:hover .btn__link {
    color: #0d0913; }

.btn__presentation:hover {
  background-color: #5ab1bb; }
  .btn__presentation:hover .btn__link {
    color: #1e152a; }

.hamburger {
  display: none; }
  @media (max-width: 650px) {
    .hamburger {
      display: block;
      z-index: 2;
      cursor: pointer;
      position: fixed;
      left: 80%; } }

.menu {
  display: grid;
  grid-template-columns: .2fr .6fr .2fr;
  column-gap: 50px;
  align-items: center;
  height: 80px; }
  @media (max-width: 650px) {
    .menu {
      display: flex;
      justify-content: flex-start;
      position: relative; } }

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 650px) {
    .menu__list {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
      width: 100%;
      top: 1px;
      clip-path: circle(100px at 90% -20%);
      -webkit-clip-path: circle(100px at 90% -20%);
      transition: all 1s ease-out;
      pointer-events: none; } }
  .menu__list.open {
    clip-path: circle(1000px at 90% -20%);
    -webkit-clip-path: circle(1000px at 90% -20%);
    pointer-events: all; }

.menu__item {
  list-style: none; }
  @media (max-width: 650px) {
    .menu__item {
      opacity: 0; } }

.menu__item:nth-child(1) {
  transition: all 0.5s ease 0.2s; }

.menu__item:nth-child(2) {
  transition: all 0.5s ease 0.4s; }

.menu__item:nth-child(3) {
  transition: all 0.5s ease 0.6s; }

.menu__item:nth-child(4) {
  transition: all 0.5s ease 0.8s; }

.menu__item:nth-child(5) {
  transition: all 0.5s ease 1s; }

.fade {
  opacity: 1; }

.menu__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #5ab1bb; }

.menu__switch-theme {
  place-self: center; }
  @media (max-width: 650px) {
    .menu__switch-theme {
      display: none; } }

.menu__rocket {
  text-align: center;
  margin-top: 10px; }
  @media (max-width: 650px) {
    .menu__rocket {
      margin-left: 80px; } }

.presentation__title {
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 50px;
  transition: all 2s; }
  @media (max-width: 1440px) {
    .presentation__title {
      justify-content: space-around; } }
  @media (max-width: 1024px) {
    .presentation__title {
      justify-content: space-between; } }
  @media (max-width: 650px) {
    .presentation__title {
      flex-direction: column; } }

.presentation__intro {
  width: 60%; }
  @media (max-width: 1440px) {
    .presentation__intro {
      padding-left: 80px; } }
  @media (max-width: 1024px) {
    .presentation__intro {
      padding-left: 70px; } }
  @media (max-width: 900px) {
    .presentation__intro {
      padding-left: 50px; } }
  @media (max-width: 740px) {
    .presentation__intro {
      padding-left: 35px; } }
  @media (max-width: 650px) {
    .presentation__intro {
      padding: 0; } }

.presentation__desc {
  font-weight: 700; }
  @media (max-width: 1440px) {
    .presentation__desc {
      font-size: 52px;
      line-height: 62px; } }
  @media (max-width: 1024px) {
    .presentation__desc {
      font-size: 40px;
      line-height: 56px; } }
  @media (max-width: 900px) {
    .presentation__desc {
      font-size: 36px;
      line-height: 48px; } }
  @media (max-width: 740px) {
    .presentation__desc {
      font-size: 30px;
      line-height: 40px; } }
  @media (max-width: 650px) {
    .presentation__desc {
      text-align: center; } }

.presentation__parraf {
  line-height: 24px;
  margin-top: 36px; }
  @media (max-width: 1440px) {
    .presentation__parraf {
      font-size: 18px;
      width: 70%; } }
  @media (max-width: 1024px) {
    .presentation__parraf {
      font-size: 16px;
      line-height: 22px;
      width: 75%; } }
  @media (max-width: 900px) {
    .presentation__parraf {
      font-size: 14px;
      line-height: 20px; } }
  @media (max-width: 740px) {
    .presentation__parraf {
      font-size: 13px;
      line-height: 18px;
      width: 80%; } }
  @media (max-width: 650px) {
    .presentation__parraf {
      font-size: 14px;
      text-align: center;
      width: 100%; } }

.presentation__img {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s; }
  @media (max-width: 1440px) {
    .presentation__img {
      width: 350px;
      height: 350px; } }
  @media (max-width: 1024px) {
    .presentation__img {
      width: 300px;
      height: 300px; } }
  @media (max-width: 900px) {
    .presentation__img {
      width: 250px;
      height: 250px; } }
  @media (max-width: 740px) {
    .presentation__img {
      width: 200px;
      height: 200px; } }

.presentation__actions {
  margin-top: 20px; }

.about__container {
  color: #1e152a;
  background-color: #5ab1bb;
  border-radius: 4px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  width: 70%;
  -webkit-box-shadow: 0px 6px 20px -1px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 6px 20px -1px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 6px 20px -1px rgba(0, 0, 0, 0.57); }
  .about__container .about__thumbnail {
    width: 100%; }
  .about__container .about__img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    /*
        -webkit-box-shadow: 0px 9px 23px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 9px 23px -9px rgba(0,0,0,0.75);
        box-shadow: 0px 9px 23px -9px rgba(0,0,0,0.75);
        */ }
  .about__container .about__desc {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    line-height: 25px; }

.projects__title {
  font-size: 32px;
  margin-top: 14px;
  text-align: center;
  margin-bottom: 26px; }

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
  width: 100%; }

.project__card {
  display: grid;
  grid-template-rows: 120px .6fr; }

.project__thumbnail {
  height: 100%;
  width: 100%;
  transition: all .2s; }

.project__img {
  width: 100%;
  height: 100%; }

.project__body .project__title {
  text-transform: capitalize;
  font-size: 16px;
  margin-top: 10px; }

.project__body .project__desc {
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px; }

.project__body .project__actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.project__thumbnail:hover {
  transform: rotate(-2deg) translateY(-5px) scale(1.025); }

.contact-form {
  padding: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px; }

.contact__desc {
  place-self: center;
  font-size: 28px; }
  .contact__desc .contact__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 16px; }
  .contact__desc .contact__parraf {
    font-size: 18px;
    width: 70%;
    line-height: 25px; }

.contact__form {
  display: flex;
  flex-direction: column; }

.contact__element {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin-top: 10px; }

.contact__element-label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600; }

.contact__element-input {
  border-style: none;
  outline: none;
  transition: all 1s;
  text-align: justify;
  padding-left: 25px;
  border-radius: 4px;
  height: 40px; }
  .contact__element-input::placeholder {
    font-weight: 400; }

.element-textarea {
  height: 110px;
  padding-left: 20px;
  padding-top: 10px; }

.contact__element-input:focus {
  border-color: #753232; }

.btn-sumbit {
  height: 40px;
  font: 16px; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5ab1bb;
  background-color: #140e1d; }
  .footer .menu__footer {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .footer .menu__footer .menu__item-footer {
      list-style: none;
      padding-left: 10px;
      padding-right: 10px; }
    .footer .menu__footer .menu__link-footer {
      text-decoration: none;
      font-size: 12px;
      font-weight: 600;
      color: #5ab1bb; }
  .footer .social-media {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .footer .divider {
    width: 90%;
    border: .25px solid #4e6766; }
  .footer .by-author {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .footer .heart {
    color: red; }

.container {
  height: 100vh;
  /*
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    */
  display: flex;
  flex-direction: column; }

.main-content {
  flex: 1 0 auto; }

.section {
  scroll-snap-align: start; }

.presentation {
  background-color: #1e152a; }

.about {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px; }

.projects {
  background-color: #0d0617;
  padding: 40px;
  display: grid;
  justify-content: center; }

.contact {
  background-color: #5ab1bb;
  color: #1e152a;
  font-size: 40px;
  font-weight: 600;
  flex-shrink: 0; }

/*
BASE

@import "./base/body";

COMPONENTS
@import "./components/accordoin";
@import "./components/title";

LAYOUT
@import "./layout/hero";
@import "./layout/footer";

PAGES
@import "./pages/faq";
*/
