@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600;700&display=swap");
/* TYPOGRAPHY */
/*  */
/* SCSS RGB */
/* SCSS RGB */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif; }

body {
  background-color: #1e152a;
  color: #5ab1bb; }

#planet {
  animation: rotatePlanet 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box; }

#arrow1 {
  animation: backToDown 3s infinite linear; }

#arrow2 {
  animation: backToDown2 3s infinite linear; }

.contact.slide-in-left {
  animation: fade-in 1s ease-in-out both; }

/*
  
.projects.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}
*/
.about.slide-in-left {
  animation: slide-in-left 1s ease-in-out both; }

.projects.slide-right {
  animation: slide-in-right 1s ease-in-out both; }

@keyframes rotatePlanet {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

@keyframes backToDown {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(-10px); } }

@keyframes backToDown2 {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-10px); } }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.js-scroll {
  opacity: 0;
  transition: opacity 500ms; }

.js-scroll.scrolled {
  opacity: 1; }

.highlight {
  background-image: linear-gradient(#f7dd72, #f7dd72);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  transition: background-size .5s, background-position .5s ease-in .5s; }

.highlight:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-position .5s, background-size .5s ease-in .5s; }

.blue-cadet {
  color: #1e152a; }

.checkbox {
  opacity: 0;
  position: absolute; }

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5); }

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear; }

.checkbox:checked + .label .ball {
  transform: translateX(24px); }

.fa-moon {
  color: #f1c40f; }

.fa-sun {
  color: #f39c12; }

.next__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }

.btn {
  width: 40%;
  border-radius: 4px;
  border-style: none;
  outline: none;
  padding: 2px;
  transition: all .5s; }
  .btn .btn__link {
    text-decoration: none; }

.btn__pasticho {
  background-color: #a5c882;
  transition: all .6s; }
  .btn__pasticho .btn__link {
    color: #1e152a; }

.btn__jasmine {
  background-color: transparent;
  border: 1px solid #a5c882;
  transition: all .6s; }
  .btn__jasmine .btn__link {
    color: #a5c882; }

.btn:hover {
  transform: translateY(-3px); }

.btn__jasmine:hover {
  background-color: #7ca752; }
  .btn__jasmine:hover .btn__link {
    color: #0d0913; }

.btn__pasticho:hover {
  background-color: #7ca752; }
  .btn__pasticho:hover .btn__link {
    color: #0d0913; }

.menu {
  display: grid;
  grid-template-columns: .2fr .6fr .2fr;
  column-gap: 50px;
  /*
    background-color: #7639c7;
    */
  align-items: center;
  height: 60px; }

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.menu__item {
  list-style: none; }

.menu__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #5ab1bb; }

.menu__switch-theme {
  text-align: center; }

.menu__rocket {
  text-align: center;
  margin-top: 20px; }

.presentation__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 50px; }

.presentation__intro {
  width: 60%; }

.presentation__desc {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px; }

.presentation__parraf {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  width: 90%; }

.presentation__img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
    background: linear-gradient(45deg, $dark-purple, #1f0e35 90%);
    */ }

.about__container {
  color: #1e152a;
  background-color: #5ab1bb !important;
  border-radius: 6px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  width: 70%;
  -webkit-box-shadow: 0px 6px 20px -1px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 6px 20px -1px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 6px 20px -1px rgba(0, 0, 0, 0.57); }
  .about__container .about__thumbnail {
    width: 100%; }
  .about__container .about__img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    /*
        -webkit-box-shadow: 0px 9px 23px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 9px 23px -9px rgba(0,0,0,0.75);
        box-shadow: 0px 9px 23px -9px rgba(0,0,0,0.75);
        */ }
  .about__container .about__desc {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    line-height: 25px; }

.projects-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  column-gap: 30px;
  row-gap: 30px;
  width: 100%; }

.project__card {
  display: grid;
  grid-template-rows: 120px .6fr; }

.project__thumbnail {
  height: 100%;
  width: 100%;
  transition: all .2s; }

.project__img {
  width: 100%;
  height: 100%; }

.project__body .project__title {
  text-transform: capitalize;
  font-size: 16px;
  margin-top: 10px; }

.project__body .project__desc {
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px; }

.project__body .project__actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.project__thumbnail:hover {
  transform: rotate(-2deg) translateY(-5px) scale(1.025); }

.contact-form {
  padding: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px; }

.contact__desc {
  justify-self: center;
  font-size: 28px; }

.contact__form {
  display: flex;
  flex-direction: column; }

.contact__element {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin-top: 10px; }

.contact__element-label {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600; }

.contact__element-input {
  border-style: none;
  outline: none;
  transition: all 1s;
  text-align: justify;
  padding-left: 25px;
  border-radius: 4px;
  height: 40px; }
  .contact__element-input::placeholder {
    font-weight: 400; }

.element-textarea {
  height: 110px;
  padding-left: 20px;
  padding-top: 10px; }

.contact__element-input:focus {
  border-color: #753232; }

.btn-sumbit {
  height: 40px;
  font: 16px; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer .social-media {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .footer .divider {
    width: 90%;
    border: 1px solid black; }
  .footer .by-author {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .footer .heart {
    color: red; }

.container {
  height: 100vh;
  /*
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    */
  display: flex;
  flex-direction: column; }

.main-content {
  flex: 1 0 auto; }

.section {
  scroll-snap-align: start; }

.presentation {
  background-color: #1e152a; }

.about {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.projects {
  background-color: #1e152a;
  padding: 40px;
  display: grid;
  justify-content: center; }

.contact {
  background-color: #5ab1bb;
  color: #1e152a;
  font-size: 40px;
  font-weight: 600;
  flex-shrink: 0;
  margin-top: 20px; }

/*
BASE

@import "./base/body";

COMPONENTS
@import "./components/accordoin";
@import "./components/title";

LAYOUT
@import "./layout/hero";
@import "./layout/footer";

PAGES
@import "./pages/faq";
*/
