.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white-special;
    background-color: $dark-purple;
    .menu__footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .menu__item-footer{
            list-style: none;
            padding-left: 10px;
            padding-right: 10px;
        }
        .menu__link-footer{
            text-decoration: none;
            font-size: 12px;
            font-weight: $font-weigth-600;
            color: $white-special;
        }
    }
    .social-media {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divider {
        width: 90%;
        border: .25px solid $white-special;
    }
    .by-author {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .heart {
        color: red;
    }
}

