.contact-form {
    padding: 35px;
    display: grid;
    grid-template-areas: "desc form";
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    @include break('middle') {
        grid-template-areas: "desc"
                             "form";
        grid-template-columns: 1fr;
    }
}

.contact__desc {
    place-self: center;
    font-size: 28px;
    grid-area: desc;
    .contact__title {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 16px;
        @include break('x-middle') {
            font-size: 28px;
            line-height: 34px;
        }
        @include break('middle') {
            text-align: center;
        }
    }
    .contact__parraf {
        font-size: 18px;
        width: 70%;
        line-height: 25px;
        @include break('x-middle') {
            width: 80%;
            font-size: 16px;
            line-height: 22px;
        }
        @include break('middle') {
            text-align: center;
            width: 100%;
            padding: 10px 20px;
        }
    }
}

.contact__form {
    display: flex;
    flex-direction: column;
    grid-area: form;
}

.contact__element {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin-top: 10px;
}

.contact__element-label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: $font-weigth-600;
}

.contact__element-input {
    border-style: none;
    outline: none;
    transition: all 1s;
    text-align: justify;
    padding-left: 25px;
    border-radius: 4px;
    height: 40px;
    &::placeholder {
        font-weight: $font-weigth-400;
    }
}

.element-textarea {
    height: 110px;
    padding-left: 20px;
    padding-top: 10px;
}

.contact__element-input:focus{
    border-color: rgb(117, 50, 50);
}

.btn-sumbit {
    height: 40px;
    font-size: 16px;
    @include break('middle'){
        width: 100%;
    }
}