.contact-form {
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.contact__desc {
    justify-self: center;
    font-size: 28px;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__element {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin-top: 10px;
}

.contact__element-label {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: $font-weigth-600;
}

.contact__element-input {
    border-style: none;
    outline: none;
    transition: all 1s;
    text-align: justify;
    padding-left: 25px;
    border-radius: 4px;
    height: 40px;
    &::placeholder {
        font-weight: $font-weigth-400;
    }
}

.element-textarea {
    height: 110px;
    padding-left: 20px;
    padding-top: 10px;
}

.contact__element-input:focus{
    border-color: rgb(117, 50, 50);
}

.btn-sumbit {
    height: 40px;
    font: 16px;
}