
.menu {
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    column-gap: 50px;
    align-items: center;
    height: 70px;
    @include break('middle') {
        display: flex;
        justify-content: space-between;;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
}


.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include break('middle') {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        width: 100%;
        top: .25px;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        background-color: $cadet-blue;
    }
    &.open {
        clip-path: circle(1400px at 90% -20%);
        -webkit-clip-path: circle(1400px at 90% -20%);
        pointer-events: all;
        z-index: 2;
    }
}

.menu__item {
    list-style: none;
    @include break('middle') {
        opacity: 0;
    }
}

@for $index from 1 to 6 {
    .menu__item:nth-child(#{$index}) {
        transition: all 0.5s ease #{$index * 0.2s};
    }
}

.fade {
    opacity: 1;
}



.menu__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: $font-weigth-600;
    color: $white-special;
    @include break('middle') {
        color: $dark-purple;
    }
}



.menu__switch-theme{
    place-self: center;
    @include break('middle') {
        display: none;
    }
}

.menu__rocket {
    text-align: center; 
    margin-top: 10px;
    @include break('middle'){
        margin-left: 50px;
    }
} 