.presentation__title {
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 50px;
    @include break ('xxl-large') {
        justify-content: space-around;
    }
    @include break('lg-large') {
        justify-content: space-around;
    }
    @include break('large') {
        justify-content: space-between;
    }
    @include break('middle') {
        flex-direction: column;
        margin-top: 90px;
    }
    transition: all 2s;
}

.presentation__intro {
    width: 60%;
    @include break('lg-large') {
        padding-left: 80px;
    }
    @include break('large') {
        padding-left: 70px;
    }
    @include break('lg-small') {
        padding-left: 50px;
    }
    @include break('x-middle') {
        padding-left: 35px;
    }
    @include break('middle') {
        padding: 0;
    }
    @include break('small') {
        width: 100%;
    }
}

.presentation__desc {
    font-weight: $font-weigth-700;
    color: $white-special;
    @include break('xxl-large') {
        font-size: 52px;
        line-height: 62px;
    }
    @include break('lg-large') {
        font-size: 52px;
        line-height: 62px;
    }
    @include break('large') {
        font-size: 40px;
        line-height: 56px;
    }
    @include break('lg-small') {
        font-size: 36px;
        line-height: 48px;
    }
    @include break('x-middle') {
        font-size: 30px;
        line-height: 40px;
    }
    @include break('middle') {
        text-align: center;
    }
    @include break('x-small') {
        font-size: 20px;
        line-height: 30px;
    }
}

.presentation__parraf {
    line-height: 24px;
    margin-top: 36px;
    color: $white-special;
    @include break('xxl-large') {
        font-size: 18px;
        width: 70%;
    }
    @include break('lg-large') {
        font-size: 18px;
        width: 70%;
    }
    @include break('large') {
        font-size: 16px;
        line-height: 22px;
        width: 75%;
    }
    @include break('lg-small') {
       font-size: 16px;
        line-height: 20px;
    }
    @include break('x-middle') {
        font-size: 16px;
        line-height: 18px;
        width: 80%;
    }
    @include break('middle') {
        font-size: 16px;
        text-align: center;
        width: 100%;
        line-height: 22px;
    }
    @include break('small'){
        padding: 0 74px;
    }
    @include break('x-small') {
        padding: 0 24px;
    }
}

.presentation__img {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    @include break ('xxl-large') {
        width: 420px;
        height: 420px;
    }
    @include break('lg-large') {
        width: 350px;
        height: 350px;
    }
    @include break('large') {
        width: 300px;
        height: 300px;
    }
    @include break('lg-small') {
        width: 250px;
        height: 250px;
    }
    @include break('x-middle') {
        width: 200px;
        height: 200px;
    }
    @include break('x-small') {
        width: 180px;
        height: 180px;
    }
}

.presentation__actions {
    margin-top: 20px;
    @include break('small'){
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.about__title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    color: $white-special;
    @include break('lg-large') {
        justify-content: space-around;
    }
    @include break('large') {
        justify-content: space-between;
    }
    @include break('middle') {
        flex-direction: column;

    }
    transition: all 2s;
}