.presentation__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 50px;
}

.presentation__intro {
    width: 60%;
}

.presentation__desc {
    font-size: 40px;
    font-weight: $font-weigth-700;
    line-height: 40px;
}

.presentation__parraf {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    width: 90%;
}

.presentation__img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background: linear-gradient(45deg, $dark-purple, #1f0e35 90%);
    */
}