.btn {
    width: 40%;
    border-radius: 4px;
    border-style: none;
    outline: none;
    padding: 2px;
    transition: all .5s;
    .btn__link {
        text-decoration: none;
    }
   
}

.btn__pasticho {
    background-color: $pistachio;
    transition: all .6s;
    .btn__link {
        color: $dark-purple;
    }
}
.btn__jasmine {
    background-color: transparent;
    border: 1px solid $pistachio;
    .btn__link {
        color: $pistachio;
    }
    transition: all .6s;
}

.btn__presentation {
    background-color: transparent;
    border: 1px solid $cadet-blue;
    height: 36px;
    font-size: 16px;
    .btn__link {
        color: $cadet-blue;
    }
}

.btn:hover {
    transform: translateY(-3px);
}


.btn__jasmine:hover {
    background-color: #7ca752;
    .btn__link {
        color: #0d0913;
    }
}

.btn__pasticho:hover {
    background-color: #7ca752;
    .btn__link {
        color: #0d0913;
    }
}

.btn__presentation:hover {
    background-color: $cadet-blue;
    .btn__link {
        color: $dark-purple;
    }
}