.btn {
    width: 40%;
    border-radius: 4px;
    border-style: none;
    outline: none;
    padding: 2px;
    transition: all .5s;
    .btn__link {
        text-decoration: none;
        color: $white-special;
    }
   
}

.btn__pasticho {
    background-color: $pistachio;
    transition: all .6s;
    .btn__link {
        color: $dark-purple;
    }
}
.btn__jasmine {
    background-color: transparent;
    border: 1px solid $pistachio;
    .btn__link {
        color: $pistachio;
    }
    transition: all .6s;
}


.btn__presentation {
    background: linear-gradient(to right,#F05CF2, #9407F2, #262DA6, #9407F2, #F05CF2);
    height: 36px;
    font-weight: $font-weigth-600;
    background-size: 400%;
    .btn__link {
        color: $white-special;
    }
    @include break('lg-large') {
        font-size: 18px;
        height: 40px;
    }
    @include break('large') {
        font-size: 16px;
        height: 40px;
    }
    @include break('lg-small') {
        font-size: 14px;
        height: 38px;
    }
    @include break('x-middle') {
        font-size: 13px;
        height: 36px;
    }
    @include break('middle') {
        width: 100%;
        font-size: 14px;
    }
    @include break('small'){
        width: 70%;
    }
}

.btn-sumbit {
    height: 40px;
    font-size: 16px;
    font-weight: $font-weigth-600;
    color: $cadet-blue;
    background-color: $dark-purple;
    @include break('middle'){
        width: 100%;
    }
}

.btn:hover {
    transform: translateY(-3px);
}


.btn__jasmine:hover {
    background-color: #7ca752;
    .btn__link {
        color: #0d0913;
    }
}

.btn__pasticho:hover {
    background-color: #7ca752;
    .btn__link {
        color: #0d0913;
    }
}

.btn__presentation:hover {
    background-color: $cadet-blue;
    animation: backgroundSize 8s linear infinite;
}