.hamburger {
    display: none;
    @include break('middle') {
        display: block;
        z-index: 2;
        cursor: pointer;
        position: fixed;
        left: 80%;
    }
}

@for $index from 1 to 4 {
    .hamburger__#{$index} {
        color: white;
    }
}