#planet {
    animation: rotatePlanet 5s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#arrow1 {
    animation: backToDown 3s infinite linear;
}

#arrow2 {
    animation: backToDown2 3s infinite linear;
}

.contact.slide-in-left  {
    animation: fade-in 1s ease-in-out both;
}
/*
  
.projects.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}
*/  
.about.slide-in-left {
    animation: slide-in-left 1s ease-in-out both;
}
  
.projects.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}



@keyframes rotatePlanet {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}


@keyframes backToDown {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes backToDown2 {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes backgroundSize {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}