#planet {
    animation: rotatePlanet 5s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotatePlanet {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}