/* SCSS RGB */
$dark-purple: #1e152a;
$deep-space-sparkle: #4e6766;
$cadet-blue: rgb(90, 177, 187);
$pistachio: rgb(165, 200, 130);
$jasmine: rgba(247, 221, 114, 1);


/* NEW DARK THEME */
$pink-ugly: #F05CF2;
$purple-special: #9407F2;
$swetie-grape: #5327F2;
$blue-calm: #262DA6;
$black-out: #0D0D0D;

/* GRADIENT */
$first-gradient: #0E0E10;
$sencond-gradient: #531FBF;
$third-gradient: #0D0918;