/* SCSS RGB */
$dark-purple: #0D0D0D;
$deep-space-sparkle: #9407F2;
$cadet-blue: #262DA6;
$pistachio: #5327F2;
$jasmine: #F05CF2;



/* NEW DARK THEME */
$pink-ugly: #F05CF2;
$purple-special: #9407F2;
$swetie-grape: #5327F2;
$blue-calm: #262DA6;
$black-out: #0D0D0D;
$white-special: #e8e7e7;

/* GRADIENT */
$first-gradient: #0E0E10;
$sencond-gradient: #531FBF;
$third-gradient: #0D0918;