
/* SCSS RGB */
$english-violet: rgba(65, 60, 88, 1);
$opal: rgba(163, 196, 188, 1);
$tea-green: rgba(191, 215, 181, 1);
$pale-spring-bud: rgba(231, 239, 197, 1);
$champagne: rgba(242, 231, 201, 1);

